* {
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
:root {
    --primary-font: "Raleway", sans-serif;
    --primary-gradient: linear-gradient(to right, #e2caa2, #c5af86, #6a593d);
}
/* Common */
#login-page {
    width: 30%;
    height: 70vh;
    position: absolute;
    background: rgba(224, 224, 153, 0.427);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    backdrop-filter: blur(8px);
}

.btn {
    padding: 10px;
    font-weight: 400;
    border-radius: 10px;
}
body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
    text-transform: capitalize;
}
#header_block {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    background-image: var(--primary-gradient);
    border-bottom: solid 1px #efdec3;
}
#header_block a {
    color: #eee5d6;
    transition: color 0.4s ease-out;
}
.nav_block-list .nav-item:hover {
    background-color: #efdec339;
    border-radius: 10px;
}

.content {
    width: 1170px;
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}
.header_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_block {
    position: fixed;
    right: 20%;
}
.nav_block-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    font-family: var(--primary-font);
    padding: 32px;
    font-size: 1.4rem;
    position: relative;
    border-radius: 10px;
    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.nav-sub-list {
    background-color: #2a577dbe;
    position: absolute;
    width: 120px;
    top: 78px;
    border-top: none;
    border-radius: 10px;
    display: none;
}
.nav-sub-list::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 14%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #2a577dbe transparent;
}

.nav-sub-item:hover {
    background-color: #f1e4cd1f;
}
.nav-sub-item {
    border-bottom: 1px solid #efdec32e;
}
.nav-sub-list a {
    display: block;
    padding: 10px;
    color: black;
}

#logo_header img {
    position: fixed;
    object-fit: cover;
    width: 250px;
    top: -12%;
    left: 5%;
}
.header_register {
    position: fixed;
    display: flex;
    top: 2.5%;
    left: 85%;
}
.header_register .btn:hover {
    box-shadow: 3px 3px 7px -2px rgba(0, 0, 0, 0.75);
}
.btn-fix {
    border-radius: 10px;
    background-color: #efdec352;
    margin-left: 5px;
}
#hero_block {
    background: var(--primary-gradient);
}

#hero_block img {
    object-fit: cover;
    height: 90vh;
}
