* {
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-color: none;
}
html {
    font-size: 62.5%;
}
:root {
    --primary-h1: "Rumble Brave Script", serif;
    --Lato-font: "Lato", sans-serif;
    --cormorant-font: "Cormorant", serif;
    --primary-h1: #8e5822;
    --primary-subtittle: #000000;
    --color-hair-item: #bd8686;
    --primary-desc-color: #f6f3f3;
    --space-inner: 16px;
    --space-size: 6px;
}

/* Common */
.subtitle {
    margin-top: 15px;
    font-family: var(--Lato-font);
    font-size: 34px;
    line-height: 40px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--primary-subtitle);
}
.desc {
    z-index: 10;
    font-family: var(--cormorant-font);
    font-style: italic;
    height: auto;
    color: rgb(91, 87, 87);
    text-decoration: none;
    white-space: normal;
    width: 500px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: left;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 2.2rem;
    transform-origin: 50% 50%;
    opacity: 1;
    visibility: visible;
}
.container-desc {
    padding: 0% 17% 0% 17%;
}
.space-size {
    height: var(--space-size);
}
.space-inner {
    height: var(--space-inner);
}
video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
}
.hidden {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 36px;
}
.large-dot {
    transform: scale(1.8);
}
.dot {
    border-radius: 999px;
    width: 6px;
    height: 6px;
    cursor: pointer;
    background-color: #ffdab9;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    color: #000000;
    display: inline-block;
    font-family: "Lato", sans-serif;
    border: 1px solid black;
    font-size: 1.2rem;
    line-height: 46px;
    height: 47px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 58px;
    padding-right: 58px;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: black;
    color: white;
}
body {
    font-size: 1.6rem;
}
/*-----Sign Up Page---- */
#sign-up-Page {
    width: 30%;
    height: 85vh;
    position: fixed;
    background: #fffffff4;
    transform: translate(-50%, -50%);
    top: 56%;
    right: 20%;
    display: none;
    border-radius: 15px;
    transition: step-end 0.2s ease-in-out;
    z-index: 2;
}
/*-----Login Page---- */
#login-page {
    width: 30%;
    height: 85vh;
    position: absolute;
    background: #fffffff6;
    transform: translate(-50%, -50%);
    top: 56%;
    left: -100%;
    border-radius: 15px;
    transition: left 0.5s ease;
    z-index: 2;
}

#form-login {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}
.head_login-page {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}
.head_login-page img {
    filter: brightness(1);
    object-fit: cover;
    width: 60%;
    height: 7em;
}
.head_login-page a {
    width: 25%;
    margin-top: -2em;
    color: #0339fd;
    font-size: 1.3rem;
}
.body_login-page {
    margin-top: 15px;
}
.body-login-title {
    font-size: 3rem;
    font-weight: 600;
    color: #365ae9c2;
    width: 72%;
}
.login-other-service {
    margin-top: 20px;

    align-items: center;
    justify-content: center;
}
.login-gg {
    background-color: #0339fd;
    width: 60%;
    margin: auto;
}
.login-social-media {
    margin: 10px auto;
}

.link i {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

.fa-facebook-f:before {
    margin-left: 2px;
}
.check-name,
.check-pass {
    margin: 20px auto;
    flex-direction: column;
}
.check-box {
    margin-top: 10px;
    display: flex;
}
input:focus {
    outline: none;
    box-shadow: 0px 1px 56px 0px rgba(224, 205, 174, 0.75);
}
.check-name input,
.check-pass input {
    width: 65%;
    height: 3em;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
}
.check-name label,
.check-pass label,
.check-box label,
.sign-up-desc {
    font-size: 1.5rem;
    color: var(--primary-login-title);
}
.login-cta {
    justify-content: space-between;
}
.btn-sign-up {
    margin: auto;
    padding: 20px;
    width: 50%;
}
.btn-sign-up,
.btn-fix {
    color: black;
}
.btn-sign-up a,
.btn-fix a {
    color: white;
    font-size: 1.5rem;
}
.btn-exit {
    position: fixed;
    left: 100%;
    width: 30px;
    height: 30px;
    background-color: #e2d8c7aa;
    border-radius: 999px;
    cursor: pointer;
}

/*-----Header Block---- */
.active {
    transform: translateY(-100%);
}

#header_block {
    position: fixed;
    padding: 0 45px;
    top: 0;
    left: 0%;
    width: 100%;
    height: 122px;
    display: flex;
    align-items: center;
    z-index: 2;
    transition: all 0.4s ease-out;
}
.active-filter {
    backdrop-filter: blur(8px);
    border-bottom: solid 1px #efdec3;
}

.content {
    width: 1170px;
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}
.header_body {
    display: flex;
    align-items: center;
}
#nav_block {
    margin-left: -20px;
}
.nav_block-list {
    display: flex;

    align-items: center;
}
.nav-item {
    padding: 20px;
    position: relative;
    border-radius: 10px;
}
.nav-title {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-sub-list {
    box-shadow: 3px 3px 7px -2px rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 120px;
    top: 55px;
    z-index: 2;
    display: none;
    transition: all 1s ease;
}
.nav-sub-item:hover {
    background-color: #27c9e2db;
}
.nav-sub-list a {
    display: block;
    padding: 10px;
    color: var(--primary-desc);
}

#logo_header img {
    object-fit: cover;
    height: 92px;
    width: 250px;
    left: 5%;
    top: -10px;
    margin-top: 20px;
}
.header_cta {
    position: relative;
    left: 77.5%;
    transition: all 125ms ease;
}

/*-----Hero Block---- */
#hero_block {
    position: relative;
    height: 100vh;
    margin-top: 0;
}

.hero-body {
    padding-top: 120px;
    justify-content: space-between;
}
.hero-title {
    display: flex;
    flex-direction: column;
}
.hero_information {
    margin-left: 30px;
    justify-content: space-between;
}

.hero-img {
    position: absolute;
    height: 100vh;
    top: 0%;
    right: 0%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.show {
    opacity: 1;
}
.hero-cta {
    margin-top: 50px;
}

.link-social-media {
    position: fixed;
    top: 50%;
    right: 2%;
    width: 50px;
    z-index: 3;
}
.hero-main-title {
    font-family: var(--primary-h1);
    font-style: italic;
    padding-top: 5%;
    font-weight: 500;
    font-size: 6rem;
    line-height: 1.19;
    color: var(--primary-h1);
    margin-left: -50px;
}
.hero-title {
    width: 50%;
}

.hero-social-media {
    display: flex;
    flex-direction: column;
}
/* Blog Salon */
#blog_block {
}
.blog-item2,
.blog-item {
    display: flex;
    flex-direction: row;
}
.blog-img img {
    max-width: 100%;
    vertical-align: middle;
}

.blog-content {
    text-align: center;
    background-image: url(../img/background\ Blog\ Title.png);
    background-repeat: no-repeat;
    padding: 100px 0;
    flex: 0 0 50%;
    background-position-y: 135%;
    background-position-x: 80%;
}
.blog-content span {
    color: #818181;
    font-family: "Cormorant", sans-serif;
    font-size: 17px;
    line-height: 23px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
}
.blog-content h3 {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 3.4rem;
    line-height: 40px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0px;
    text-transform: uppercase;
}

/* Popular */
#Popular_block {
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    position: relative;
}
.blog-item2 .desc {
    text-align: center;
}

.head_popular {
    padding-top: 130px;
    justify-content: space-between;
}

.head_popular-subtitle {
    background-image: var(--primary-Popular-subtitle);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}
.head_popular-subtitle a {
    font-family: var(--primary-h1);
    font-style: italic;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
    line-height: 48px;
}
.head_popular-desc {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 70%;
    margin-top: 8px;
    color: var(--primary-desc-color);
}
.selector__popular-nav {
    justify-content: center;
}
.btn-left,
.btn-right {
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 18px;
    border-radius: 999px;
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
}
.btn-left {
    background: #fffbfb;
}

.btn-right {
    background-color: #68b6b6;
}
/* Hair style Block */
.hair-list {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-top: 50px;
    border-radius: 10px;
    column-gap: 30px;
    scroll-behavior: smooth;
}
.hair-style-thumb {
    object-fit: cover;
    height: 278px;
    border-radius: 10px;
    vertical-align: bottom;
}
.hair-style-content {
    padding: 16px 22px 22px;
    border-radius: 0px 0px 12px 12px;
}
.hair-style-content > .row {
    justify-content: space-between;
}
.block-subtitle:first-child {
    box-shadow: 0px 18px 36px 0px #e02b2be9;
    border: unset;
}
.hair-style-item {
    scroll-snap-align: center;
    flex: 0 0 32%;
    width: 100%;
    height: 470px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    background-color: rgb(51, 48, 48);
}
.hair-style-item:first-child:hover {
    background-color: #a2e4e0;
    box-shadow: 0px 18px 36px 0px #b97db9a2;
}
.hair-style-item:hover {
    background-color: #bd8686;
    box-shadow: 0px 18px 36px 0px #b97db9a2;
}
.hair-style-item:nth-child(3):hover {
    background-color: #41c4dc;
    box-shadow: 0px 18px 36px 0px #b97db9a2;
}
.hair-name {
    font-size: 2rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgb(255, 255, 255);
}
.hair-style-desc {
    margin-top: 6px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: white;
}
.block-cta {
    margin-top: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.block-cta strong {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}
.style-course1 {
    background: #ffb900;
}
/* ----- service Block ------ */
#service_block {
    background-image: url(../img/background\ body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 8%;
}
.service_head {
    padding-top: 68px;
    flex-direction: column;
}
.service_quest {
    text-align: center;
}

.service_body {
    margin-top: 71px;
    justify-content: space-between;
}

.service_item {
    width: 180px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 0.7s ease-out;
}
.service_name {
    z-index: 10;
    font-family: var(--cormorant-font);
    font-style: italic;
    height: auto;
    color: black;
    text-decoration: none;
    padding: 0 10px;
    min-height: 0px;
    min-width: 0px;
    text-align: left;
    line-height: 28px;
    font-weight: 600;
    font-size: 2.2rem;
    transform-origin: 50% 50%;
    opacity: 1;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.service_name:hover {
    background-color: black;
    font-size: 3rem;
    border-radius: 10px;

    color: white;
}
.service_content {
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_content img {
    width: 80px;
    height: 80px;
}

.service_container {
    display: flex;
    gap: 25px;
    flex-direction: row;
    margin-top: 40px;
    height: 450px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.service_detail-info {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 55%;

    padding: 20px;
    transition: all 0.5s ease;

    border-radius: 10px;
}
.service_detail-img {
    flex: 0 0 40%;
}

.service_detail-img img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.service-cta {
    top: 55px;
    position: relative;
}

/* ----- Review Block ------*/
.review_block {
    background-image: url(../img/Background\ layour\ review.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}
.review-customer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-img-customer {
    width: 300px;
    height: 300px;
    border-radius: 999px;
    object-fit: cover;
}
.review-body {
    padding-top: 10%;
    justify-content: space-around;
}

.review-name-customer {
    margin-top: 18px;
    font-family: var(--font-sen);
    font-size: 3rem;
    font-weight: 700;
    line-height: 34px;
    background-image: var(--primary-Popular-subtitle);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.review-subjekt-customer {
    font-size: 2rem;
    font-weight: 400;
    line-height: 26px;
    color: #144a16;
    margin-top: 4px;
}
.review-list-customer {
    width: 30px;
    height: 6px;
    margin-top: 28px;
}
.review-desc {
    max-width: 740px;
    font-family: var(--primary-h1);
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 40px;
    color: #ffffff;
    margin-left: 30px;
    padding-bottom: 10px;
}
.review-title {
    box-shadow: -1px 1px 69px 3px rgba(78, 73, 73, 0.75);
    background-image: url(../img/Background\ review.jpg);
    background-size: cover;
    border-radius: 10px;
}
.dots-fixed {
    margin-top: -10px;
}

/* Footer Block */
#footer {
    background-color: #f5f5f7;
    height: 62vh;
}
.footer_body {
    padding: 60px 0 38px;
    justify-content: space-between;
}
.footer_body-subtitle {
    width: 267px;
}
.footer_logo {
    object-fit: cover;
    width: 270px;
    height: 100px;
}
.footer_desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 18px 12px 0 12px;
    color: #424245;
}
.footer_body-social {
    margin-top: 18px;
    width: 111px;
    display: flex;
    justify-content: space-between;
}
.footer_body-title {
    padding: 0 48px 14px 0;
    border-bottom: 1px solid#83807b;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    width: 130px;
    text-align: left;
    color: #424245;
}

.footer_body-item-info {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 28px;
    margin-left: -10px;
    color: #424245;
}

.copyright {
    margin-top: 7%;
    border-top: 1px solid #83807b;
}
.copyright p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #424245;
}
