* {
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    height: 2000px;
}
:root {
    --primary-font: "Raleway", sans-serif;
    --primary-gradient: linear-gradient(
        to right,
        #e2caa2cb,
        #c5af86c0,
        #6a593ddb
    );
}

/* Common */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 15px 25px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}
body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
    text-transform: capitalize;
}
/*-----Sign Up Page---- */
#sign-up-Page {
    width: 30%;
    height: 85vh;
    position: absolute;
    background: #fffffff4;
    transform: translate(-50%, -50%);
    top: 56%;
    right: -100%;
    border-radius: 15px;
    transition: right 0.5s ease;
    z-index: 2;
}
/*-----Login Page---- */
#login-page {
    width: 30%;
    height: 85vh;
    position: absolute;
    background: #fffffff6;
    transform: translate(-50%, -50%);
    top: 56%;
    left: -100%;
    border-radius: 15px;
    transition: left 0.5s ease;
    z-index: 2;
}

#form-login {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}
.head_login-page {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}
.head_login-page img {
    filter: brightness(1);
    object-fit: cover;
    width: 60%;
    height: 7em;
}
.head_login-page a {
    width: 25%;
    margin-top: -2em;
    color: #0339fd;
    font-size: 1.3rem;
}
.body_login-page {
    margin-top: 15px;
}
.body-login-title {
    font-size: 3rem;
    font-weight: 600;
    color: #365ae9c2;
    width: 72%;
}
.login-other-service {
    margin-top: 20px;

    align-items: center;
    justify-content: center;
}
.login-gg {
    background-color: #0339fd;
    width: 60%;
    margin: auto;
}
.login-social-media {
    margin: 10px auto;
}
.login-inst i,
.login-fb i {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}
.fa-facebook-f:before {
    margin-left: 2px;
}
.check-name,
.check-pass {
    margin: 20px auto;
    flex-direction: column;
}
.check-box {
    margin-top: 10px;
    display: flex;
}
input:focus {
    outline: none;
    box-shadow: 0px 1px 56px 0px rgba(224, 205, 174, 0.75);
}
.check-name input,
.check-pass input {
    width: 65%;
    height: 3em;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
}
.check-name label,
.check-pass label,
.check-box label,
.sign-up-desc {
    font-size: 1.5rem;
    color: var(--primary-login-title);
}
.login-cta {
    justify-content: space-between;
}
.btn-sign-up {
    margin: auto;
    padding: 20px;
    width: 50%;
}
.btn-sign-up,
.btn-fix {
    background-image: var(--primary-gradient);
    color: black;
}
.btn-sign-up a,
.btn-fix a {
    color: white;
    font-size: 1.5rem;
}
.btn-exit {
    position: fixed;
    left: 100%;
    width: 30px;
    height: 30px;
    background-color: #e2d8c7aa;
    border-radius: 999px;
    cursor: pointer;
}

/*-----Header Block---- */
#header_block {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    background-image: var(--primary-gradient);
    border-bottom: solid 1px #efdec3;
}
#header_block a {
    color: #eee5d6;
    transition: color 0.4s ease-out;
}

.content {
    width: 1170px;
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}
.header_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_block {
    right: 20%;
}
.nav_block-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    font-family: var(--primary-font);
    padding: 20px;
    font-size: 1.5rem;
    position: relative;
    border-radius: 10px;
    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.nav-sub-list {
    background-color: #2a577dbe;
    position: absolute;
    width: 120px;
    top: 78px;
    border-top: none;
    border-radius: 10px;
    display: none;
}

.nav-sub-item:hover {
    background-color: #f1e4cd1f;
}
.nav-sub-item {
    border-bottom: 1px solid #efdec32e;
}
.nav-sub-list a {
    display: block;
    padding: 10px;
    color: black;
}

#logo_header img {
    object-fit: cover;
    height: 65px;
    width: 250px;
    top: -12%;
    left: 5%;
}
.header_register {
    display: flex;
    top: 2.5%;
    left: 85%;
}
.header_register .btn:hover {
    box-shadow: 3px 3px 7px -2px rgba(0, 0, 0, 0.75);
}
.btn-register {
    margin-left: 5px;
    background-color: #e3d1b185;
}
/*-----Hero Block---- */
#hero_block {
    background: var(--primary-gradient);
    position: relative;
    height: calc(100vh - 90px);
}
.hero-body {
    justify-content: space-between;
}
.hero-title {
    display: flex;
    flex-direction: column;
}
.hero_information {
    margin-top: 60px;
    justify-content: space-between;
}

#hero_block img {
    position: absolute;
    object-fit: cover;
    height: 70vh;
    top: 20%;
    right: 20%;
}
.link-social-media {
    position: absolute;
    top: 92%;
    right: 15%;
    width: 50px;
}
.hero-main-title {
    padding-top: 30px;
    font-weight: 500;
    font-size: 6.2rem;
    line-height: 1.19;
    background-clip: linear-gradient(
        255deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}
.hero-title {
    width: 50%;
}
.hero-desc {
    width: 80%;
    margin-top: 0px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}
